<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title@site.global.seo_title</title>
    <meta name="keywords" content="@site.global.seo_keyword" />
    <meta name="description" content="@site.global.seo_description" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit" />

    <link rel="Stylesheet" type="text/css" href="/static/css/layui.css" />
    <link rel="Stylesheet" type="text/css" href="/static/css/layer.css" />
    <link rel="Stylesheet" type="text/css" href="/static/css/css.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css" />
    <script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/static/js/layui.js"></script>
    <script type="text/javascript" src="/static/js/layer.js"></script>
    <script type="text/javascript" src="/static/js/formvalidate.js"></script>
    <script type="text/javascript" src="/static/js/helper.js"></script>
    <script type="text/javascript" src="/static/js/jquery.superslide.2.1.1.js"></script>
    <script type="text/javascript" src="/static/js/swiper.min.js"></script>
</head>
<body>
    @Html.Action("Header", "Base")
    @RenderBody()
    @Html.Action("Footer", "Base")
</body>
</html>


